<div class="d-grid p-3">
    <div class="mb-3">
        <label class="form-label">Chọn hình ảnh</label>
        <input class="form-control" #fileUpload type="file" accept="image/*" (change)="onFileChanged($event)" />
    </div>        
    <button class="btn btn-primary" [disabled]="files.length === 0" (click)="saveImages()">Tải hình ảnh</button>
</div>

<div class="d-flex flex-wrap">
    <div *ngFor="let item of images" class="picture m-1">
        <a href="#" (click)="addImageData(item)">
            <img [src]="item.data" class="img-thumbnail image m-1" />
        </a>
        <i class="fas fa-trash remove" (click)="removeImage(item)"></i>
    </div>    
</div>