<div>
    <div class="my-1">
        <button type="button" class="btn btn-sm btn-primary me-1">Thêm</button>
        <button type="button" class="btn btn-sm btn-success me-1">Sửa</button>
        <button type="button" class="btn btn-sm btn-danger me-1">Xóa</button>
        <button type="button" class="btn btn-sm btn-warning">Xuất tập tin</button>
    </div>

    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width: 10px;"><input type="checkbox" (click)="checkAll($event)" /></th>
                    <th>Id</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items">
                    <td><input type="checkbox" [(ngModel)]="item.selected" value="{{ item.id }}" /></td>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>